<div class="daily-wrapper">
    <svg viewBox="0 0 420 100"  preserveAspectRatio="xMidYMid"></svg>
</div>

<div style="position: relative; display: flex; font-size: 20px; color: #a9cff9; width: 100%;">
    <div style="text-align: left; flex: 1 1 10%; align-self: center;"><i class="fa fa-sun-o"></i></div>
    <h1 class="date" style="flex: 1 1 80%;">{{ month-day date }}</h1>
    <div style="text-align: right; flex: 1 1 10%; align-self: center;"><i class="fa fa-moon-o"></i></div>
</div>