.login_btn {
  background-image: url('/images/gplus_signin/Red-signin_Long_combined_44dp.png');
  display: inline-block;
  width: 236px; height: 44px;
  cursor: pointer;
}

.login_btn:hover { background-position: 0 44px; }
.login_btn:active { background-position: 0 88px; }

/* connect page styles */
#connect-frame .status { font-size: smaller; color: #C5E2FD; }
#connect-frame .btn { text-decoration: none; color: white; font-weight: bold; padding: 3px; }
.connect-proceed-link { text-decoration: none; color: white; font-size: 50px; }

/* details view styles */
table.stats { width: 100%; font-size: 14px; margin-top: 20px; }
table.stats td { padding: 5px; }
table.stats td.label { font-weight: bold; }
