.spinner {
  width: 200px;
  height: 200px;

  position: relative;
  margin: 150px auto;
}

.double-bounce {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 3.0s infinite ease-in-out;
  animation: bounce 3.0s infinite ease-in-out;
}

.double-bounce.bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.double-bounce.bounce3 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.2) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}