/* Put your (S)CSS here */

$fa-font-path: "/fonts" !default;
@import "bower_components/font-awesome/scss/font-awesome";

$aspect-ratio: 720/1280;
$page-height: 960px;
$page-width: $aspect-ratio*$page-height;
$bgcolor: #51A7F9;

body {
  background-color: $bgcolor;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0; margin: 0;
}

#trunk {
  background-color: $bgcolor;
  position: relative;
  width: 100%;
}

.liquid-child {
  width: 100%;
}

/* media queries to fill up the display if it's smaller than our full-screen display setting */
@media only screen and (min-width : $page-width) {
  body {
    padding: 5px;
    background-color: #555;
    background-image: url('/images/creampaper_dark.png');
  }

  #trunk {
    width: $page-width; height: $page-height;
    overflow: hidden;
    margin-left: auto; margin-right: auto;

    border: 1px solid #89c0f9;
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  }

  #wrapper {
    width: $page-width + 20px; height: $page-height;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .liquid-child {
    width: $page-width;
  }
}

header {
  display: flex;
  text-align: center;
  padding: 20px;
  padding-bottom: 0px;
  border-bottom: solid 3px white;
  height: 82px;

  background-color: #51A7F9;
  /*position: fixed; width: 560px;*/
  /*box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);*/
}

header .icon-button {
  flex: 0 0 64px;
  width: 64px;
  cursor: pointer;
}

header .mid-text {
  letter-spacing: 5px;
  flex-grow: 1; align-self: center; font-size: 55px;
  position: relative;
  top: -15px;
}

header a {
  text-decoration: none; color: white;
}


/* also define the modal app drawer */
$modal-scale: 1.0;
#modal-drawer {
  display: none;
  position: absolute;

  width: $page-width * $modal-scale;
  left: -($page-width * $modal-scale); top: 0px; bottom: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#modal-drawer header {
  background: none;
  border-bottom: solid 3px #555;
}

#modal-drawer nav ul {
  list-style: none;
  margin: 0; padding: 0;
}

#modal-drawer nav ul li {
  padding: 0; margin: 0;
}

#modal-drawer nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 0px;
  padding: 31px;
  width: 100%;
  font-size: 32px; border-bottom: solid 3px #333;
}

#modal-drawer nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* and the all-important list of users */
ul.members {
  list-style: none; margin: 0; padding: 0;
}
ul.members li {
  padding: 20px; border-bottom: solid 3px white;
}
ul.members li a {
  display: flex; font-size: 38px;
  text-decoration: none; color: white; font-weight: normal;
}
ul.members li:nth-child(21) { border-bottom: none; }

.members li a .title { flex: 1 1; }
.members li a .graph { align-self: flex-end; flex: 0 0 200px; }

/* mini-pulse */
.mini-pulse {
  width: 200px;
  height: 65px;
}

/* user page styles */
article.info { padding: 20px; padding-top: 0; font-size: 58px; }
h1 { margin: 0; font-size: 58px; text-decoration: none; color: white; font-weight: 300; }

/* FORMS */
input {
  //  background: rgba(255, 255, 255, 0.2);
  background: none;
  border: none;
  border-bottom: dotted 5px white;
  border-radius: 2px;
  padding: 10px;
  font-size: 25px;
  color: white;
}

$placeholder-color: #559bf1;

*::-webkit-input-placeholder { color: $placeholder-color; }
*:-moz-placeholder { /* FF 4-18 */ color: $placeholder-color; }
*::-moz-placeholder { /* FF 19+ */ color: $placeholder-color; }
*:-ms-input-placeholder { /* IE 10+ */ color: $placeholder-color; }

/* more user-page level styles, but for components */
@import "components.scss";

/* little widgets that don't have a proper place... */
@import "bits.scss";
@import "spinner.scss";