/* mini pulse */
.mini-pulse rect {
  fill: white;
}

.mini-pulse text.dayofweek {
  fill: white; font-size: 12px; text-anchor: middle;
}

/* ora-pulse */
.ora-pulse {
  margin: 10px auto;
  margin-bottom: 40px;
}

.ora-pulse text {
  fill: white;
  font-size: 15px;
  text-anchor: middle;
}

//.ora-pulse circle.tomorrow {
//  fill: none;
//  stroke: white;
//  stroke-width: 2;
//}

.ora-circle rect {
  fill: white;
}

/* ora-daily */
.ora-daily .daily-wrapper {
  margin: 0px auto;
  padding: 10px;
  padding-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.ora-daily h1.date {
  margin: 0 auto; text-align: center; font-size: 45px; font-weight: 100;
}

.ora-daily rect.day { fill: white; }
.ora-daily rect.night { fill: #5ba8e9; }
.ora-daily text { font-size: 10px; fill: white; font-weight: normal; font-family: 'Tahoma', sans-serif; text-anchor: middle; }

/* ora-timeline */
.ora-timeline {
  overflow: hidden;
  margin: 50px 0 30px;
}

.ora-timeline rect {
  fill: white;
}

.ora-timeline .day-highlight { display: none; fill: white; }
.ora-timeline g { cursor: pointer; }
.ora-timeline g.selected .day-highlight { display: block;}

.ora-timeline text.month { fill: white; font-size: 12px; text-anchor: middle; }
.ora-timeline text.day { fill: white; font-size: 12px; text-anchor: middle; }
.ora-timeline g.selected text.day { fill: $bgcolor; }
