/* mini pulse */
.mini-pulse rect {
  fill: white;
}

/* ora-pulse */
.ora-pulse {
  width: 250px; height: 250px;
  margin: 30px auto;
}

.ora-circle rect {
  fill: white;
}

/* ora-daily */
.ora-daily .daily-wrapper {
  width: 420px;
  margin: 20px auto;
  margin-bottom: 0;
  padding: 10px;
  padding-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.2);
}

.ora-daily h1.date {
  margin: 0 auto; text-align: center; font-size: 45px; font-weight: 100;
}

.ora-daily rect.day { fill: white; }
.ora-daily rect.night { fill: #5ba8e9; }
.ora-daily text { font-size: 10px; fill: white; font-weight: normal; font-family: 'Tahoma', sans-serif; }

/* ora-timeline */
.ora-timeline {
  overflow: hidden;
  height: 300px;
  margin: 30px 0;
}