<header>
    {{#link-to 'users' class="icon-button"}}<i class="fa fa-4x fa-fw fa-angle-left"></i>{{/link-to}}
    <div class="mid-text">Add</div>
    <a class="icon-button"></a>
</header>

<article class="info" style="padding: 40px;">
    <h1>Find User</h1>
    {{ input name="findUser" style="width: 100%;" placeholder="User to Invite..." }}

    <button style="width: 300px; height: 50px;">Add User</button>
</article>
