<header>
    <a class="icon-button" {{action 'closeModal' 'drawer'}}><i class="fa fa-4x fa-fw fa-bars"></i></a>
    <div class="mid-text">options</div>
</header>

<nav>
    <ul>
        <li>{{#link-to 'people' class="icon-button"}}<i class="fa fa-fw fa-user"></i> people{{/link-to}}</li>
        <li>{{#link-to 'people' class="icon-button"}}<i class="fa fa-fw fa-power-off"></i> sign out{{/link-to}}</li>
    </ul>
</nav>
