<header>
    <a class="icon-button"></a>
    <div class="mid-text">ora login</div>
    <a class="icon-button"></a>
</header>

<div style="text-align: left; margin: 40px 20px;">
    <h2>Step 1. Authenticate w/Google</h2>
    <a class="login_btn" href="http://lifestreams.smalldata.io/login?redirect=http%3A%2F%2Fora.smalldata.io%2Flogin%2F%02return"></a>

    <form {{action authenticate on='submit'}}>
        <label for="identification">Login</label>
        {{input id='identification' placeholder='Enter Login' value=identification}}
        <label for="password">Password</label>
        {{input id='password' placeholder='Enter Password' type='password' value=password}}
        <button type="submit">Login</button>
    </form>
</div>