<!--<header>-->
<!--<a class="icon-button"></a>-->
<!--<div class="mid-text">ora login</div>-->
<!--<a class="icon-button"></a>-->
<!--</header>-->

<div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
    <div style="text-align: center; margin: 80px 0;">
        {{ora-pulsing-logo}}
        <h1>logging out...</h1>
    </div>
</div>