<header>
    <a class="icon-button"><i class="fa fa-4x fa-fw fa-bars"></i></a>
    <div class="mid-text">ora</div>
    <a class="icon-button"><i class="fa fa-4x fa-fw fa-plus-circle"></i></a>
</header>

<ul class="members">
    {{#each person in model}}
        <li>
            {{#link-to 'person' person replace=true}}
            <span class="title">{{person}}</span>
            <span class="graph">{{mini-pulse user=person}}</span>
            {{/link-to}}
        </li>
    {{/each}}
</ul>